#inscription{
    height:800px;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#inscription fieldset{
    height:600px;
}
#inscription label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#inscription input{
    margin-top: 25px;
    width: 600px;
    height: 30px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#inscription h2{
    font-size: 35px;
    height: 50px;
    padding-top: 5px;
    color: white;
    background-color:blue;
    position: relative;
    top: 5px;
}
#inscription button{
    background-color: blue;
    height: 50px;
    width: 250px;
    margin-top: 50px;
    font-size:25px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    position: relative;
    bottom: 50px;
}
#inscription button:hover{
    background-color: red;
}
#inscription a{
    color: blue;
}