<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/styles.css">
    <link rel="stylesheet" href="./../css/enfant.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="entete1">
        <h1> CHAUSSURE</h1>
        <h5> faites vous plaisir chez nous</h5><br>
        <form>
            <input type="text" placeholder="rechercher un produit" name="search">
            <button type="submit">rechercher</button>
        </form>
        <nav>
            <ul>
               <li> <a href="inscription.html"> COMPTE</a></li>
               <b class="far fa-user"></b>
                <li style="font-size: 22px;"> PANIER</li>
            </ul>
        </nav>
    </div>
    <div id="entete2">
        <nav>
            <ul>
                <li> <a href="hommes.html"> HOMMES</a></li>
                <li> <a href="femmes.html"> FEMMES</a></li>
                <li> <a href="enfants.html"> ENFANTS</a></li>
                <li> <a href="marques.html"> MARQUES</a></li>
            </ul>
        </nav>
    </div>
    </header>
          <div id="slogan">
            <h3> ENFANT </h3>
            <P>Prêt à voir vos petits aventuriers et fashionistas se démarquer avec style ? Découvrez notre incroyable sélection de sneakers et baskets pour enfants qui répondent aux besoins de chaque pas, saut et foulée ! Que vous cherchiez 
            des chaussures pour filles ou pour garçons, nous avons tout ce dont vous avez besoin. </P>
          </div>    
    <footer>
        <h1> CHAUSSURE </h1>
        <h4> Copyright © 2016. Tous droits réservés.</h4>
    </footer>
    
</body>
</html>