<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/styles.css">
    <link rel="stylesheet" href="./../css/inscription.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="entete1">
        <h1> CHAUSSURE</h1>
        <h5> faites vous plaisir chez nous</h5><br>
        <form>
            <input type="text" placeholder="rechercher un produit" name="search">
            <button type="submit">rechercher</button>
        </form>
        <nav>
            <ul>
               <li> <a href="inscription.html"> COMPTE</a></li>
               <b class="far fa-user"></b>
                <li style="font-size: 22px;"> PANIER</li>
            </ul>
        </nav>
    </div>
    <div id="entete2">
        <nav>
            <ul>
                <li> <a href="hommes.html"> HOMMES</a></li>
                <li> <a href="femmes.html"> FEMMES</a></li>
                <li> <a href="enfants.html"> ENFANTS</a></li>
                <li> <a href="marques.html"> MARQUES</a></li>
            </ul>
        </nav>
    </div>
    </header>
    <div id="inscription">
    <h2>INSCRIPTION</h2>
    <form id="form" method="post" action="inscription.php"> 
        <fieldset >
            <label for="nom">Nom</label><br>
           <input type="nom" id="nom" name="name" placeholder="entrez votre nom " required><br>
            <label for="e-mail">E-mail</label><br>
           <input type="email" id="e-mail" name="email" placeholder="entrer votre adresse" required ><br>
           <label for="mot passe">Mot de passe</label><br>
           <input type="password" id="password1" name="password1" placeholder="xxxxx" required minlength="5"><br>
           <small style="font-size: 20px; color: red;"> votre mot de passe doit comporter au moins 5 caracteres</small><br>
           <label for="confirmer mot passe"> confirmer Mot de passe</label><br>
           <input type="password" id="password2" name="password2" placeholder="xxxx" required minlength="5">
           <br><br>
           <button type="submit">s'inscrire </button>    
        </fieldset>
    </form> 
    <a href="connexion.html"> retour a la page de connexion </a>
    </div>
    <div id="abonnement">
        <h3> ABONNEZ-VOUS</h3>
        <h4> abonnez vous pour decouvrir nos exclusivite</h4>    
      <form>
        <input type="email" name="abonnes" placeholder="entrer votre adresse email"><br>
        <button type="submit"> je m'abonne </button>
      </form>
    </div>
    <div id="service">
        <div id="message">
            <img width="22%" height="22%" src="./../ressources/images/casque.svg" alt="casque">
            <p> contacter nous par telephone ou par email et acceder a un<strong> SERVICE CLIENT </strong>de qualite</p>
        </div>
        <div id="numero">
            <p> 676 86 40 85 
            <br> appel gratuit</p>
        </div>
        <div id="email">
            <p> serviceclient@gmail.com</p>
        </div>
    </div>
    <div id="icone">
        <div id="icone1">
           <img src="./../ressources/images/icone1.png" alt="icone1">
           <small> echange sous 100 jours</small>
        </div>
        <div id="icone2">
            <img src="./../ressources/images/icone2.png" alt="icone1">
            <small> livraison gratuite a plus de 10000fcfa</small>
        </div>
        <div id="icone3">
            <img src="./../ressources/images/icone3.png" alt="icone1">
            <small> paiement securise</small>
        </div>
        <div id="icone4">
            <img src="./../ressources/images/icone1.png" alt="icone1">
            <small> expedition sous 24h</small>
        </div>
    </div>
    <footer>
        <h1> CHAUSSURE </h1>
        <h4> Copyright © 2016. Tous droits réservés.</h4>
    </footer>
    <script src="./../javascript/inscription.js">

    </script>
</body>
</html>