#connexion{
background-color: red;
}
h2{
    font-weight: bold;
    font-family:   sans-serif;
    b
}
h5{
    font-size: small;
    font-weight: 200;
}
.normal{
  margin-left: 200px;
}
body{
    background-color: azure;
}
div{
    padding-left: 250px;
}